\def\corpName{某某单位}
\def\haoStem{某}
\def\sessionBase{2026}
\def\docAuthor{某某}
\def\docCreator{某某}
\def\companycode{000000000000000000}
\org{甲}{甲会}{甲}{A/}{1}
\org{甲委}{甲会委员会}{甲委}{A/COU/}{0}
\org{乙}{乙部}{乙}{B/}{0}
\joint{乙}{committee}{B-in-C/}
\joint{乙}{commission}{B-in-CN/}
\decreeauth{甲}
